div.wrap-config-header {
  /*float: left;*/
}

div.logo-area {
  display: inline-block;
}

div.logo-area img.logo {
  width: 100px;
}

div.config-area {
  padding: 5px;
  display: inline-block;
}

div.config-area label {
  text-align: left;
  /*width: 100px;*/
}

div.wrap-config-header #report_issue {
  float: right;
}

div.config-area .btn {
  font-size: 12px;
  padding-top: 5px;
}

div.config-area .form-control, .btn {
  font-size: 12px;
}

div.config-area form {
  height: 30px;
}

div.config-area input, .input-group-addon {
  height: 25px;
}

div.config-area button {
  height: 25px;
}

#port {
  width: 60px;
}

#lds-facebook {
  display: none;
  margin-left: 5px;
  padding-top: 3px;
}

.lds-midorikappa {
  padding-top: 5px;
  height: 40px;
}

label.btn.btn-secondary {
  color: #b7b7b7;
  cursor: pointer;
}

label.btn.btn-secondary.active {
  color: #ffffff;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
